// Descriptive color variables
$black: #000000;
$d-grey: #474747;
$seledin: #02baab;
$l-grey: #85939f;
$d-navy: #1f2a32;
$text_grey: #3b4954;

//Font variables 

$main-font: 'Oxygen', sans-serif;
$extra-font: 'Lato', sans-serif;

